<!DOCTYPE html>
        <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Youtube E-motion</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="static/js/angular.js"></script>
</head>
<body ng-controller="HomeCtrl">
<div class="container">

    <h4 class ="modal-title" id="exampleModalLabel">Input your subject of interest!</h4>

</div>



<div class="modal-body">
    <form action="/extract" method="POST">
        <div class="form-group">
            <label class="control-label">Keyword: </label>
            <input type="text" class="form-control"  name="subject">
            <div class="modal-footer">
                 <input  type="submit" value="submit"/>

            </div>
        </div>
    </form>
</div>
<div class="nav nav-tabs">
    <a href="/gettopVideos">See top videos</a>
</div>





<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>