<div ng-controller="homeController">
   	<div class="container text-center">
  <div id="categories" class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Artificial Intelligence</strong></p><br>

      <img src="/static/images/ArtificialIntelligenceT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">

    </div>
    <div class="col-sm-4">
		 <p class="text-center"><strong>Mars Colonization</strong></p><br>
		 <img src="/static/images/MarsColonizationT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Electric Cars</strong></p><br>
		 <img src="/static/images/ElectricCarsT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
    </div>
	 <div class="col-sm-4">
      <p class="text-center"><strong>Big Data</strong></p><br>
	  <a href="www.google.com">
		 <img src="/static/images/BigDataT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
		 </a>
    </div>
	 <div class="col-sm-4">
      <p class="text-center"><strong>3D Printing</strong></p><br>
	  <a href="www.google.com">
		 <img src="/static/images/Printing3DT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
		 </a>
    </div>
	 <div class="col-sm-4">
      <p class="text-center"><strong>Cloud Computing</strong></p><br>
		 <img src="/static/images/CloudComputingT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
    </div>
	 <div class="col-sm-4">
      <p class="text-center"><strong>Bionic Limbs</strong></p><br>
		 <img src="/static/images/BionicLimbsT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
    </div>
	 <div class="col-sm-4">
      <p class="text-center"><strong>Solar Energy</strong></p><br>
		 <img src="/static/images/SolarEnergyT.jpg" class="img-circle tech"  alt="Random Name" width="255" height="255">
    </div>
  </div>
</div>
</div>